@keyframes spinner-fade-out{
    0%{opacity: 1;}
    98%{opacity: 0; transform: scale(1);}
    100%{transform: scale(0);}
}

.spinner {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    opacity: 1;
    background-color: aqua;
    animation-delay: 2000ms;
    animation: spinner-fade-out;
    animation-duration: 1100ms;
    animation-fill-mode: forwards;
    &-block {
        width : 100%;
        height : 100%;
        background-color : red;
        margin: 20px;
    }
}

