@import './sass/base/reset';

@import './sass/utils/variables';
@import './sass/utils/animations';
@import './sass/utils/mixins';

@import './sass/components/utils';
@import './sass/components/button';
@import './sass/components/card';
@import './sass/components/heart';
@import './sass/components/slogan';

@import './sass/layouts/header';
@import './sass/layouts/footer';
@import './sass/layouts/fonctionnement';
@import './sass/layouts/search-bar';

@import './sass/pages/restaurant';




