@-webkit-keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.spinner {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  opacity: 1;
  background-color: aqua;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation: spinner-fade-out;
          animation: spinner-fade-out;
  -webkit-animation-duration: 1100ms;
          animation-duration: 1100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding : 0;
}
body{
  font-family: 'Roboto', serif, sans-serif;
}
                    /* index */

/*header*/

.header{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.189);
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-bar{
  background-color: rgb(233, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 35px;
}
.search-bar input{
  border: none;
  background-color: rgb(233, 230, 230);
  display: flex;
  font-size: medium;
  font-weight: bold;
}
.search-bar input:focus{
  outline: none;
}
.slogan{
  background-color: rgb(248, 246, 246);
  height: 280px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.slogan h1{
  font-size: x-large;
  font-weight: bold;
  display: flex;
  text-align: center;
}
.slogan p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search-btn{
  width: 180px;
  height: 45px;
  border-radius: 50px;
  background-color: #ff79da;
  border: none;
}
aside{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  padding: 30px;
}
aside h2{
  display: flex;
  font-weight: 900;
  
}
.function{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.both{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 22px;
  background-color: rgb(248, 246, 246);
  width: 100%;
  height: 60px;
  border-radius: 15px;
  padding: 25px;
  margin-left: -10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  z-index: 1;
}
.cards-index{
  padding: 30px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.card{
    display: flex;
    height: 240px;
    background-color: rgb(248, 246, 246);
    border: 2px;
    border-radius: 20px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}
.card-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  
}
.card-content-text{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-content-text h3{
  font-weight: bolder;
}
.card-content-i{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large
}

.image{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.lien{
  text-decoration: none;
  color: black;
}


.logo{
  font-family: 'Shrikhand', cursive;
  font-size: larger;
}
.restaurant-img{
  width: 100%;
  margin-bottom: -50px;
  
}
.restaurant-title{
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  background-color: rgb(107, 32, 32);
  border-radius: 50px 50px 0 0 ;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.restaurant-title h1{
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
}
.restaurant-title i{
  padding: 10px;
  font-size: x-large;
}

.restaurant-menu{
  width: 100%;
  background-color: rgb(248, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.header-menu{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.189);
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-menu i{
  padding: 10px;
  font-size: larger;
}
.header-menu .logo{
  font-size: xx-large;
  display: flex;
  width: 80%;
  justify-content: center;
}



.footer{
  width: 100%;
  height: 250px;
  background-color: rgb(51, 47, 47);
  color: rgb(248, 246, 246);
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 30px;
  margin-top: 40px;
}
.footer .logo{
  font-family: Shrikhand, serif;
  font-size: x-large;
}

.footer .lien{
  color: white;
  display: flex;
  font-size: medium;
}
.footer i{
  padding-right: 10px;
}
