.cards-title{
  width: 100%;
  
}
.cards{
  width : 100%;
  background-color: $bg-grey;
  
  
  &-wrapper {
    @include flexbox;
    flex-direction: column;
    padding : 30px
  }

  @media screen and (min-width: 640px){
    border-radius: 30px;
  }
  
  &-box{
    @include flexbox;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 25px;
    
    @media screen and (min-width: 640px){
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card{
      display : block;
      overflow : hidden;
      position : relative;
      width : 100%;
      height: 240px;
      border-radius: 20px;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
      transition : transform 0.3s ease-in-out;
      &:hover{
        transform: scale(1.01);
        box-shadow:0px 4px 20px 2px rgba(0, 0, 0, 0.461);
      }
      & .image{
        @include flexbox;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }
      &-new::after{
        content:'Nouveau';
        @include flexbox;
        width : 90px;
        height : 30px;
        position : absolute;
        top : 20px;
        right : 20px;
        color : white;
        background-color: $green;
      }
      &-content{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap:6px;

        & h3{
          font-weight: bold;
        }

        & p{
          font-weight: lighter;
        }

        & i{
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: x-large;
          transform: translateY(-50%);
        }   

      }
      @media screen and (min-width: 640px){
        height: 300px;
        width: 500px;
      }
    }
  } 
}
