.slogan{
  background-color: $bg-grey;
  width : 100%;
  &-wrapper {
    padding: 30px;
    @include flexbox;
    flex-direction: column;
    gap: 35px;
  }

  &-title{
    font-size: x-large;
    font-weight: 700;
    display: flex;
    text-align: center;
  }

  &-subtitle{
    @include flexbox;
    text-align: center;
  } 
}