.slogan{
  background-color: $bg-grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  & h1{
    font-size: x-large;
    font-weight: 700;
    display: flex;
    text-align: center;
  }
  & p{
    @include flexbox;
    text-align: center;
  } 
}