

/*pages restaurants*/

.header-menu{ 
  @include flexbox;
  width: 100%;
  height: 50px;
  position: relative;
  & i{
  width: 100%;
   padding: 10px;
   font-size: x-large;
  }
  & .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Shrikhand', serif;
    font-size: xx-large; 
  }
}

.restaurant{ 
  &-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  &-title{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    border-radius: 30px 30px 0 0 ;
    padding: 20px;
    margin-bottom: -30px;
    transform: translateY(-30px);
    background-color: $header;
    & h1{
      font-family: 'Shrikhand', cursive;
      font-size: 30px;
      font-weight: 300;
    }
    & i{
      position: absolute;
      right: 15px;
      font-size: xx-large;
    }
  }
  &-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    background-color:  $header;
    & .menu{
      display: flex;
      flex-direction: column;
      margin: 20px;
      gap: 3px;
      background-color: $header;
      & h2{
        position : relative;
        margin-top: 30px;
        padding-bottom: 7px;
        font-size: larger; 
        &:after{
          content : "";
          position : absolute;
          left : 0;
          bottom : 0px;
          width : 50px;
          height : 4px;
          background-color: $green;
        }
      }
      &-card{
        display : flex;
        position: relative;
        width: 100%;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        padding-left : 15px;
        overflow: hidden;
        background-color: white; 
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        &:hover{
          .check{
            width: $check_width;
            opacity: 1;
            & i{
              opacity : 1;
              font-size: xx-large;
              animation: check-turn 0.3s ease-in-out forwards;
              animation-delay: .1s;
            }
          }
          &>.menu-content{
            width: calc(100% - $check_width2);
          }
        }
        & .menu-content{
          @include flexbox;
          width: calc(100% - $price_width);
          height: 100%;
          flex-direction: column;
          text-align: start;
          transition : width 0.3s ease-in-out;
          & h3, p{
            width: 100%;
            padding-bottom: 5px;
            padding-right : 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow : hidden;
            font-weight: 900;
          }
          & p{
            font-weight: 100;
          }
        }
        & .price{
          display : flex;
          flex-direction :column;
          justify-content: end;
          width: $price_width;
          height: 100%;
          padding-bottom: 15px;
          font-weight: 900;
        }
        & .check{
          @include flexbox;
          position: absolute;
          right : 0;
          top :0;
          height: 100%;
          width: 0px;
          background-color: $green;
          transition : width 0.3s ease-in-out;
          & i{
            font-size: xx-large;
            color: white;
            opacity : 0;
            transition : opacity 0.2s;
          }
        }
      }
    } 
  }
  &-order{
    margin-bottom : 30px;
  }
}    



@media screen and (min-width: 640px){



  .restaurant{
    @include flexbox;
    flex-direction: column;
    background-color: $header;
    padding: 30px;
    background-color: none;
    &-wrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    &-img{
      border-radius: 20px;
      height: 400px;
      width: 800px;
    }
    &-title{
      display: flex;
      justify-content: center;
      
      
      & i{      
        position: absolute;
        right: 15%;
      }
    }
    &-menu{
      flex-direction: row;
      flex-wrap : wrap;
      
      border-radius: 0 0 30px 30px;
      .menu{
        
        min-width : 300px;
        width : calc(32% - 33px);
      }
    }
  }
}
