

/*pages restaurants*/

.header-menu { 
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  & i{
    padding: 10px;
    font-size: larger;
  }
  & .logo{
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: 'Shrikhand', serif;
    font-size: xx-large; 
  }
}


.restaurant { 
  &-img{
    width: 100%;
  }
  &-title{
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 30px 30px 0 0 ;
    padding: 20px;
    margin-bottom: -30px;
    transform: translateY(-30px);
    background-color:   $header;
    & h1{
      font-family: 'Shrikhand', cursive;
      font-weight: 300;
    }
    & i{
      position: absolute;
      right: 15px;
      top : 20px;
      font-size: x-large;
    }
  }
  &-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color:  $header;
    & .menu{
      display: flex;
      flex-direction: column;
      margin: 20px;
      gap: 3px;
      background-color: $header;
      & h2{
        position : relative;
        margin-top: 30px;
        padding-bottom: 7px;
        font-size: larger; 
        &:after {
          content : "";
          position : absolute;
          left : 0;
          bottom : 0px;
          width : 50px;
          height : 4px;
          background-color: $green;
        }
      }

      &-card {
        display : flex;
        width: 100%;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        padding-left : 15px;
        background-color: white; 
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;

        &:hover{
          .check{
            width: $check_width;
            opacity: 1;
           
            & i{
              opacity : 1;
              font-size: xx-large;
              animation: check-turn 0.3s ease-in-out forwards;
              animation-delay: .1s;
              
            }
          }
          &>.menu-content {
            width: calc(100% - $check_width2);
          }
        }
        
        & .menu-content{
          @include flexbox;
          width: calc(100% - $price_width);
          height: 100%;
          flex-direction: column;
          text-align: start;
          transition : width 0.3s ease-in-out;
          & h3, p{
            width: 100%;
            font-weight: 900;
            padding-bottom: 5px;
            padding-right : 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow : hidden;
          }
          & p{
            font-weight: 100;
          }
        }
        & .price{
          width: $price_width;
          height: 100%;
          font-weight: 900;
          display : flex;
          flex-direction :column;
          justify-content: end;
          padding-bottom: 15px;
        }
        
        & .check{
          position: absolute;
          right : 0;
          top :0;
          @include flexbox;
          
          background-color: $green;
          height: 100%;
          width: 0px;
          transition : width 0.3s ease-in-out;
          & i{
            font-size: xx-large;
            color: white;
            opacity : 0;
            transition : opacity 0.2s;
          }
        }
      
      
      }
    } 
  }
  
  & .search-btn{
    @include flexbox;
  }
}




      

@media screen and (min-width: 640px){

  .header-menu { 
    & .logo{
      width: 100%;
      text-align: center
    }
  }

  .restaurant{
     @include flexbox;
     flex-direction: column;
     background-color: $header;
     padding: 30px;
    & .restaurant-img{
      border-radius: 20px;
      height: 400px;
      width: 800px;
    }
    &-menu{
      flex-direction: row;
      background-color: $bg-grey;
      border-radius: 0 0 30px 30px;
    }
    &-title{
      @include flexbox;
      background-color: $bg-grey;
    }
    & .scroll{
      background-color: $bg-grey;
    }
  }
  
}

           



  
  
