
@keyframes spinner-fade-out{
  0%{opacity: 1;}
  98%{opacity: 0; transform: scale(1);}
  100%{transform: scale(0);}
}

.spinner {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  opacity: 1;
  animation-delay: 2000ms;
  animation: spinner-fade-out;
  animation-duration: 1100ms;
  animation-fill-mode: forwards;
  &-block {
      width : 100%;
      height : 100%;
      margin: 20px;
  }
}



.spinner {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  opacity: 1;
  background-color: #99E2D0;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  -webkit-animation: spinner-fade-out;
          animation: spinner-fade-out;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.spinner-block{
  width: 100px;
  height: 100px;
  border-top: 10px solid $purple;
  border-bottom: 10px solid $pink;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top:0; bottom: 0; left: 0; right:0;
  -webkit-animation: spin 3000ms linear infinite;
  -o-animation: spin 3000ms linear infinite;
  animation: spin 3000ms linear infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*check dans le menu*/

@keyframes check-turn{
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
@keyframes scale-up{
  0% {
   scale: (1); 
  }
  100% {
    scale: (1.4);
  }
}
  

@keyframes animation-scroll{
  0% {
    opacity: 0;
    transform : translateY(50px);
  }
  100% {
    opacity: 1;
    transform : translateY(0px);
  }
}

.scroll {
  opacity: 0;
  transform : translateY(50px);
  animation : animation-scroll 2s forwards;
}

.restaurant-menu {
  @for $i from 1 through 3 {
    .menu:nth-child(#{$i}) {
      animation-delay: ($i*1000)+ms;
    }
  }
}

/*
.scroll-1{
  animation-duration: 3s;
  animation-delay: 0.1s;
}

.scroll-2{
  animation-duration: 3s;
  animation-delay: 3s;
}

.scroll-3{
  animation-duration: 3s;
  animation-delay: 6s;
}
*/