@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heart-full{
    color: transparent;
    background-image: linear-gradient($pink, $purple);
    background-clip: text;
    -webkit-background-clip: text;   
}

@mixin heart-stroke{
    opacity: 1;
    background-color: white;
    transition: .3s;
    &:hover{
        opacity: 0;
    } 
}