
$header : #fff;
$footer : #353535;
$bg-grey : #f6f6f6;
$input : #eaeaea;
$pink:  #ff79da;
$purple: #9356dc;
$green: #99E2D0;
$i: #7e7e7e;



$_check_width : 80;
$_price_width : 50;
$check_width : ($_check_width)+px;
$check_width2 : ($_check_width+50)+px;
$price_width : ($_price_width)+px;

$max-4k : 1200px;
