
/*index footer*/
.footer{
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 100%;
  height: 250px;
  padding: 30px;
  
  background-color: $footer;
  color: $header;
  & .logo{
    font-family: Shrikhand, serif;
    font-size: x-large;
  }
  & .lien{
    display: flex;
    font-size: medium;
    color: white;
    &:hover{
      text-decoration: underline;
    }
  }
  & i{
    padding-right: 10px;
    :hover{
      text-decoration: none;
    }
  }
  & .footer-lien{
    display: flex;
    flex-direction: row;
  }
}