.search-bar{
  width :100%;
  background-color: $input;
  &-wrapper {
    @include flexbox;
    flex-wrap: wrap;
    height: 45px;
    gap: 35px;
  }
  & input{
    display: flex;
    font-size: medium;
    font-weight: bold;
    border: none;
    background-color: $input;
    &:focus{
      outline: none;
    }
  }
}